# Modelos entrenados (no versionar)
models/*.pkl
models/*.joblib

# Artefactos generados
artifacts/predictions/*.parquet
artifacts/metrics/*.png
artifacts/metrics/*.csv

# Data procesada
data/df_final_latest.parquet

# Logs de Airflow
logs/

# MLflow local
mlruns/

# files
airflow.cfg
webserver_config.py